/* RESET DAS CONFIGUÇÕES DEFAULT DO BROWSER */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
    text-decoration: none;
}
a, button {
    text-decoration: none;
    color: #ffffff;
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
  
  /* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    bottom: 0;
    background: rgba(0, 0, 0, 0.541);
    color: #f1f1f1;
    width: 950px;
    padding: 20px;
    border-radius: 20px;
    margin: 15% 40%;
    text-align: justify;
}
.content h1 {
    margin-bottom: 15px;
}

/* SECTION Resultados */

.link {
    background: rgba(255, 255, 255, 0.425);
    font-size: 22px;
    border-radius: 20px;
    text-align: center;
    width: 100px;
    height: 30px;
    margin: 5px 85%;
    border-style: none;
    position: sticky;
}
.link:hover {   
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 8px 5px #ffffffe5;
    background: rgba(255, 255, 255, 0.596);
    transition: 0.7s;   
}




