@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET DAS CONFIGUÇÕES DEFAULT DO BROWSER */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


:root {
    background-image: url("/assets/lampNature.webp");
    background-size: cover;
}
  
body {
    max-width: 1110px;
    padding: 0 5%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    line-height: 25px; 
    background: var(--main-backgroud);
}

  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;    
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

header .links__navigation {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.links__navigation li {
    margin: 0px 35px;
    font-size: 18px;
}

.links__navigation li a {
    color: var(--link-color);
}

header .links__navigation :hover {
    transition: 600ms;
    font-weight: 800;
    text-decoration: underline;
}

/* MAIN */

.main__conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    
}

.main__text {
    margin-bottom: 5%;
    margin-bottom: 5%;
    width: 50%;
    color: var(--text-color);
    font-weight: 600;
}

.main__text h1 {
    font-size: 4rem;
    line-height: 4.5rem;
}

.main__text h2 {
    font-size: 22px;
    margin-top: 14px;

}

.menu__icon{
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

/* SECTION Resultados */
.resultados {
    font-size: 18px;
    position: relative;
    background-size: cover;
    border-radius: 12px;
    margin-top: 20px;
    padding: 35px;
    box-shadow: 0px 0px 18px 10px #000000;
    text-align: justify;
    transition: 2s;
    background-color: #ffffff;
    width: 100%;
    height: 600px;
    text-align: justify;
    color: #000000;
    line-height: 30px;
    object-fit: cover;
}
.resultados:hover {
    text-shadow: 0 4px 2px #000000, 0 0 3px #000000;
    transition: 2s;
    background-color: #ffffff00;
    color: #ffffff;
}



.myVideo {
    position: absolute;
    border-radius: 12px;
    top: 0;
    left: 0;
    z-index: -1; /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
    width: 100%;
    height: 100%;
    overflow: hidden; /* evita do video passar a altura desejada do .wrap */
    color: #000000;
    object-fit: cover;
}
  
.resultados2 {
    background: var(--bg-resultado-section);
    margin-top: 20px;
    padding: 10px;
}

.resultados__text2 h1, h2, h4, p {
    text-align: justify;
    width: 100%;
    padding: 10PX;
}


.diferenciais .conteiner__diferenciais {
    /* background: white; */
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin: 12px auto;
    padding-bottom: 20px;
    text-align: justify;
}

.diferenciais .card {
    width: 48%;
    padding: 20px;
    border-radius: 12px;
    background: white;
    transition: 0.3s;
    box-shadow: 0px 0px 18px 10px #000000;
    margin-bottom: 30px;
}

.diferenciais .card:hover {
    /* box-shadow: 0px 10px 67px 8px #e6e6fa85; */
    box-shadow: 0px 0px 12px 8px #fbff00;
}


* {
    box-sizing: border-box;
    border-radius: 12px;
}

.link:hover {   
    border-style: hidden;
    outline-color: transparent;
    box-shadow: 0 0 8px 8px #ffffffe5;
    background: rgba(255, 255, 255, 0.596);
    transition: 0.7s;   
    cursor: pointer;
}

a, button {
    text-decoration: none;
    color: #ffffff;
}

.link {
    border-style: hidden;
    font-size: 25px;
    background: linear-gradient(to right, #c19aff88, hsla(204, 81%, 46%, 0.5));
    box-shadow: 0 0 8px 5px #ffffff;
    border-radius: 20px;
    text-align: center;
    height: 30px;
    width: 120px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 40px;
    margin-bottom: 40px;
}

.SubTitle {
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    margin: 80px auto;
    line-height: 65px
}
