body {
    width: 1050px;
    height: 500px;
    min-width: 100%;
    min-height: 100%;
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
  
  /* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    bottom: 0;
    background: rgba(0, 0, 0, 0.541);
    color: #f1f1f1;
    width: 1050px;
    padding: 20px;
    border-radius: 20px;
    margin: 15% 45%;
    text-align: justify;
}
.content h1 {
    margin-bottom: 15px;
}

/* SECTION Resultados */

.link {
    background: rgba(255, 255, 255, 0.425);
    font-size: 22px;
    border-radius: 20px;
    text-align: center;
    width: 100px;
    height: 30px;
    margin: 5px 85%;
    border-style: none;
    position: sticky;
}
.link:hover {   
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 8px 5px #ffffffe5;
    background: rgba(255, 255, 255, 0.596);
    transition: 0.7s;   
}




