@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET DAS CONFIGUÇÕES DEFAULT DO BROWSER */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
    text-decoration: none;
    color: #000000;
}
a, button {
    text-decoration: none;
    color: #ffffff;
}

:root {
    background-size: cover;
    background: url("/assets/lamp.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
body {
    max-width: 1110px;
    padding: 0 5%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    line-height: 25px; 
    background: var(--main-backgroud);
}

:root {
    --main-backgroud: rgba(255, 255, 255, 0);
    animation: changeColor 10s infinite;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;    
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

header .links__navigation {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
header .links__navigation :hover {
    transition: 0.5s;
    text-decoration: underline;
    font-weight: 800;
}


.links__navigation li {
    margin: 0px 35px;
    font-size: 18px;
}

.links__navigation li a {
    color: var(--link-color);
}

header .links__navigation :hover {
    font-weight: 800;
    text-decoration: underline;
}

/* MAIN */

.main__conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    
}

.main__text {
    margin-bottom: 5%;
    margin-bottom: 5%;
    width: 50%;
    color: var(--text-color);
    font-weight: 600;
}

.main__text h1 {
    font-size: 4rem;
    line-height: 4.5rem;
}

.main__text h2 {
    font-size: 22px;
    margin-top: 14px;

}

.main__text div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main__img img {
    width: 100%;
}
.main__img2 {
    width: 50%;
    padding: 20px;
    margin-left: 200px;

}

.menu__icon{
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

/* SECTION Resultados */
.resultados {
    background-size: cover;
    border-radius: 12px;
    margin-top: 20px;
    padding: 2.7rem 1.4rem;
    box-shadow: 0px 0px 15px 15px #000000;
    text-align: justify;
    transition: 2s;
    background-color: #ffffff3b;
}
.resultados:hover {
    transition: 1s;
    background-color: #fffffff1;
}

.resultados2 {
    background: var(--bg-resultado-section);
    margin-top: 20px;
    padding: 10px;

}

.resultados .resultados__text2 h1, h2, h4 {
    text-align: justify;
    width: 100%;
    padding: 5PX;

}
.resultados .resultados__text2 p {
    width: 100%;
    padding: 10px;
}


.diferenciais .conteiner__diferenciais {
    /* background: white; */
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    padding-bottom: 90px;
    text-align: justify;
}

.diferenciais .card {
    width: 48%;
    padding: 30px;
    border-radius: 15px;
    background: white;
    transition: 0.3s;
}

.diferenciais .card:hover {
    /* box-shadow: 0px 10px 67px 8px #e6e6fa85; */
    box-shadow: 0px 0px 20px 8px #fbff00;
}

.diferenciais .card img {
    width: 60px;
}

.diferenciais .card .titulo {
    margin: 13px 0;
    font-weight: 600;
}



footer {
    padding: 2.7rem  1.4rem;
    background-color: #363636;
    margin-bottom: 30px;
}

footer .conteiner__footer {
    display: flex;
    color: #c3c3c3;
    line-height: 22px;
}

footer .conteiner__footer ul {
    width: 25%;
}

footer .conteiner__footer h3 {
    margin-bottom: 16px;
    font-weight: 600;
}

footer .conteiner__footer ul > p {
    margin-bottom: 40px;
}

footer .conteiner__footer li {
    margin: 10px 0;
}

footer .conteiner__footer a {
    color: white;
}


/* REPONSIVOS */
@media (max-width: 960px) {
    .menu__icon {
        display: block;
    }
    .links__navigation {
        position: fixed;
        background: black;
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.5s;
        flex-direction: column;
        justify-content: center;  
    }
    .links__navigation li {
        font-size: 20px;
        margin: 25px 0;
    }
    .links__navigation.ativo {
        left: 0%;
    }
    main .main__conteiner {
        flex-direction: column;
    }
    main .main__conteiner .main__img {
        width: 80%;
        margin-top: 25px;
    }
    main .main__conteiner .main__text {
        width: 100%;
        text-align: center;
    }
    main .main__conteiner h1 {
        font-size: 3.8rem;
    }
    main .main__conteiner .main__text div {
        justify-content: center;
    }
    .resultados .container__resultados {
        flex-direction: column;
    }
    .resultados .resultados__numeros {
        width: 100%;
        text-align: center;
    }
    .resultados__numeros {
        margin-top: 30px;
    }
    .diferenciais .conteiner__diferenciais {
        flex-direction: column;
    }
    .diferenciais .card {
        width: 92%;
        display: flex;
        margin: 20px auto;
    }
    .card .texto__card {
        margin: 0px 20px;
    }
    .calculadora .conteiner__calculadora {
        flex-direction: column;
    }
    .calculadora .calculadora__text, .calculadora .calculadora__input {
        width: 90%;
        text-align: center;
        justify-content: center;
        padding: 50px;
    }
    .calculadora__input .input {
        align-items: center;
        justify-content: center;
    }
    footer .conteiner__footer {
        flex-direction: column;
    }
    footer .conteiner__footer ul {
        width: 100%;
        margin-bottom: 1px;
    }
}

@media (max-width: 440px) {
    .main__conteiner .main__text h1 {
        font-size: 3rem;
    }
    .resultados .resultados__numeros {
        flex-direction: column;
    }
    .resultados .resultados__numeros p {
        padding-bottom: 18px;
    }
}

.conta {
    margin-left: 15%;
    margin-top: 10px;
    font: bold 16pt sans-serif;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.859);   
}
.conta:hover{
    outline-color: transparent;
    outline-style: solid;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 8px 8px #000000c4;
    transition: 0.7s;   
}
.conta:focus{
    outline-color: transparent;
    outline-style: solid;
    color: aliceblue;
    background-color:#000000;
    box-shadow: 0 0 8px 8px rgb(98, 224, 255);
    transition: 0.7s;   
}
.btn {
    background-color: #000000;
    color: #c3c3c3;
    border-radius: 15px;
    text-align: center;
    width: 40%;
    height: 35px;
    font-size: 18px;
    margin: 30px 0px 0px 30%;
    
    
}
.btn:hover{
    outline-color: transparent;
    outline-style: solid;
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 5px #000000c4;
    transition: 0.7s;   
}
.btn:focus{
    outline-color: transparent;
    outline-style: solid;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 0 0 0 5px rgb(0, 15, 82);
    transition: 0.7s;   
}

* {
    box-sizing: border-box;
    border-radius: 15px;
}

.popup-wrapper {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    font-size: 1.3rem;  
    width: 100%;
    max-width: 430px;
    height: 330px; 
    margin: 15% auto;
    padding: 30px;
    background: white;
    position: relative;
    text-align: center;
    animation-name: run;
    animation-duration: 1s;    
}

.popup p {
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 5px 6px 25px;
    text-align: justify;
    width: 100%;
}

.popup-close {
    color: black;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

@keyframes run {
    from {margin-left: -300px;}
    to {margin-left: 40%;}
}

