@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET DAS CONFIGUÇÕES DEFAULT DO BROWSER */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li, a, button {
    text-decoration: none;
}

:root {
    --main-backgroud: #14424b;
    --text-color: #fff;
    --link-color: #fff;
    --btn-gradient: linear-gradient(#fe9611, #ff5c00);
    --bg-resultado-section: #fe9611;
}

body {
    max-width: 1110px;
    padding: 0 5%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif; 
    background: var(--main-backgroud); 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--main-backgroud);
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

header .links__navigation {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.links__navigation li {
    margin: 0px 35px;
    font-size: 15px;
}

.links__navigation li a {
    color: var(--link-color);
}

/* MAIN */

.main__conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    background: var(--main-backgroud);
}

.main__text {
    width: 50%;
    color: var(--text-color);
    font-weight: 600;
}

.main__text h1 {
    font-size: 4rem;
    line-height: 4.5rem;
}

.main__text h2 {
    font-size: 22px;
    margin-top: 14px;

}

.main__text div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main__img {
    width: 50%;
}

.main__img img {
    width: 100%;
}

.menu__icon{
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.btn__calculo {
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
    background: var(--btn-gradient);
    color: #fff;
    font-weight: bold;
}

/* SECTION Resultados */
.resultados {
    background: var(--bg-resultado-section);
    border-radius: 12px;
    margin-top: 20px;
    padding: 2.7rem 1.4rem;
}

.resultados .container__resultados {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultados .resultados__text {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    width: 50%;
}

.resultados .resultados__numeros {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultados .resultados__numeros p {
    text-align: center;
    margin: 0 30px;
    font-size: 20px;
}

.resultados .resultados__numeros p span {
    font-size: 30px;
    font-weight: 600;
}

.diferenciais .conteiner__diferenciais {
    /* background: white; */
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    padding-bottom: 90px;
}

.diferenciais .card {
    width: 26%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    background: white;
    transition: 0.3s;
}

.diferenciais .card:hover {
    /* box-shadow: 0px 10px 67px 8px #e6e6fa85; */
    box-shadow: 0px 0px 20px 5px #0000005e;
}

.diferenciais .card img {
    width: 60px;
}

.diferenciais .card .titulo {
    margin: 13px 0;
    font-weight: 600;
}

.calculadora .conteiner__calculadora {
    display: flex;
    align-items: center;
    padding-bottom: 90px;
    
}

.calculadora .calculadora__text {
    width: 50%;
    padding-right: 90px;
}

.calculadora .calculadora__text h2 {
    font-size: 2.5em;
    color: white;
    font-weight: 600;
}

.calculadora .calculadora__text p {
    margin: 20px 0;
    color: white;
    line-height: 22px;
}

.calculadora .calculadora__input {
    width: 50%;
    color: white;
}
.calculadora__input .input {
    display: flex;
    flex-direction: column;
}

.calculadora__input .input input {
    width: 50%;
}

.calculadora__input .btn__calculo {
    margin-top: 20px;
}

footer {
    padding: 2.7rem  1.4rem;
    background-color: #363636;
}

footer .conteiner__footer {
    display: flex;
    color: #c3c3c3;
    line-height: 22px;
}

footer .conteiner__footer ul {
    width: 25%;
}

footer .conteiner__footer h3 {
    margin-bottom: 16px;
    font-weight: 600;
}

footer .conteiner__footer ul > p {
    margin-bottom: 40px;
}

footer .conteiner__footer li {
    margin: 10px 0;
}

footer .conteiner__footer a {
    color: white;
}


/* REPONSIVOS */
@media (max-width: 960px) {
    .menu__icon {
        display: block;
    }
    .links__navigation {
        position: fixed;
        background: black;
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.5s;
        flex-direction: column;
        justify-content: center;  
    }
    .links__navigation li {
        font-size: 20px;
        margin: 25px 0;
    }
    .links__navigation.ativo {
        left: 0%;
    }
    main .main__conteiner {
        flex-direction: column;
    }
    main .main__conteiner .main__img {
        width: 80%;
        margin-top: 25px;
    }
    main .main__conteiner .main__text {
        width: 100%;
        text-align: center;
    }
    main .main__conteiner h1 {
        font-size: 3.8rem;
    }
    main .main__conteiner .main__text div {
        justify-content: center;
    }
    .resultados .container__resultados {
        flex-direction: column;
    }
    .resultados .resultados__text,
    .resultados .resultados__numeros {
        width: 100%;
        text-align: center;
    }
    .resultados__numeros {
        margin-top: 30px;
    }
    .diferenciais .conteiner__diferenciais {
        flex-direction: column;
    }
    .diferenciais .card {
        width: 92%;
        display: flex;
        margin: 20px auto;
    }
    .card .texto__card {
        margin: 0px 20px;
    }
    .calculadora .conteiner__calculadora {
        flex-direction: column;
    }
    .calculadora .calculadora__text,
    .calculadora .calculadora__input {
        width: 90%;
        text-align: center;
        justify-content: center;
        padding: 0;
    }
    .calculadora__input .input {
        align-items: center;
        justify-content: center;
    }
    footer .conteiner__footer {
        flex-direction: column;
    }
    footer .conteiner__footer ul {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 440px) {
    .main__conteiner .main__text h1 {
        font-size: 3rem;
    }
    .resultados .resultados__numeros {
        flex-direction: column;
    }
    .resultados .resultados__numeros p {
        padding-bottom: 18px;
    }
}